 <header>
   <img src="" alt="" />
 </header>
 <main>
   <form class="userAuth" action="/users/login" method="post">
     <label for="email">User Email</label>
     <input type="text" name="email" value="" id="email">
     <label for="password">Password</label>
     <input type="password" name="password" value="" id="password">
     <button type="submit" name="button">Login</button>
   </form>
 </main>
