<header class="header">
</header>
 <main class="input">
   <h1>Login</h1>
   <form class="authform" action="/users/login" method="post">
     <label for="email">User Email</label>
     <input type="text" name="email" value="" id="email">
     <label for="password">Password</label>
     <input type="password" name="password" value="" id="password">
     <button type="submit">Login</button>
   </form>
 </main>
