<header class="header">
</header>
<main class="input">
  {{#each errors}}
    <h2>{{this}}</h2>
  {{/each}}
  <form class="authform" action="/users/register" method="post">
    <label for="email">Enter Email</label>
    <input type="text" name="email" value="" id="email">
    <label for="password">Enter Password</label>
    <input type="password" name="password" value="" id="password">
    <label for="name">Enter Username</label>
    <input type="text" name="name" value="" id="name">
    <button type="submit">Regsiter User</button>
  </form>
</main>
