<header>
  <img src="" alt="" />
</header>
<main>
  <form class="" action="/users/register" method="post">
    <label for="email">Enter Email</label>
    <input type="text" name="email" value="" id="email">
    <label for="password">Enter Password</label>
    <input type="password" name="password" value="" id="password">
    <button type="submit" name="button">Regsiter User</button>
  </form>
</main>
