<nav class="appnav">
  <a href="/">Home Page</a>
  <a href="/users/{{_id}}">Profile Page</a>
  <a href="/users/logout">Log Out</a>
</nav>
<main class="apppage">
  <form class="appform" action="/users/{{_id}}/new" method="post">
    <select name="teams" class="">
      {{#teams}}
        <option name="teamselect" value='{{team_name}}'>{{team_name}}</option>
      {{/teams}}
    </select>
    <label for="title">Title</label>
    <input type="text" name="name" value="" id="title">
    <label for="help">Helps</label>
    <textarea name="help" rows="8" cols="40" id="help" class="textarea"></textarea>
    <label for="interesting">Interesting</label>
    <textarea name="interesting" rows="8" cols="40" id="interesting" class="textarea"></textarea>
    <label for="events">Events</label>
    <textarea name="events" rows="8" cols="40" id="events" class="textarea"></textarea>
    <button type="submit">Save and Send</button>
  </form>
</main>
