/* Coolors Exported Palette - coolors.co/052f5f-005377-dacf7f-06a77d-f1a208 */

$color1: #052f5f; //rgba(5, 47, 95, 100)
$color2: #005377; //rgba(0, 83, 119, 100)
$color3: #dacf7f; //rgba(218, 207, 127, 100)
$color4: #06a77d; //rgba(6, 167, 125, 100)
$color5: #f1a208; //rgba(241, 162, 8, 100)